body {
    background-color: #222222;
    color: #fff;
    font-family: Arial, sans-serif;

}

.centerModal {
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

.modal {
    top: 10px;
    border-radius: 12px;
    height: 350px;
    display: none;
    padding: 11px;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: #222;
    border: 2px solid #4f4f4f;
}

.content-modal {
    position: relative;
    background-color: transparent;
    -webkit-animation-name: animateTop;
    -webkit-animation-duration: 0.5s;
    animation-name: animateTop;
    animation-duration: 0.5s;
}

@-webkit-keyframes animateTop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animateTop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.container {
    border-radius: 12px;
    display: grid;
    justify-content: center;
}

.containerButton {
    padding-bottom: 5px;
    position: fixed;

}

.containerButton .button1 {
    float: left;
}

.containerButton .button2 {
    float: right;
}

.containerText {
    background: #222222;
    border-radius: 8px;
}

textarea {
    background-color: #222222;
    font-size: 20px;
    color: #fff;
}


input {
    background-color: #222222;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    width: 280px;
}

.note {
    width: 100%;
    resize: none;
    margin-top: 20px;
}

.containerNotes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    div {
        margin-top: 12px;
        margin-bottom: 12px;
        padding: 10px;
        border-radius: 8px;
        width: 300px;
        border: 2px solid gray;

        & p {
            word-wrap: break-word;

        }
    }
}


button {
    margin-top: 12px;
    width: 40px;
    height: 40px;
    background-color: orange;
    color: #fff;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    border: none;
}

button:hover {
    background-color: #d2d2d2;
    cursor: pointer;
}

button:active {
    background-color: #d2d2d2;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: black;
}

section {
    display: flex;
    justify-content: center;
    gap: 20px;
}